ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.cat {
  height: 100%;
}

li:last-child {
  display: flex;
  align-items: center;
}

li:last-child button {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
}
